
.inputWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 24px;
    background-color: hsl(0, 0%, 10%);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border-radius: 25px;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    
}

.inputField {
    flex-grow: 1;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    padding: 10px 14px;
    color: white;
    outline: none;
    transition: border-color 0.2s;
}

.inputField:focus {
    border-color: #666;
}

.sendBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600; 
    font-size: 0.9rem; 
    text-align: center; 
    display: block; 
    box-sizing: border-box; 
    color: white;
    padding: 12px;
    border-radius: 18px;
    border: 1px solid transparent; 
    background-color: black;
    cursor: pointer;
    transition: all 0.2s;
}

.sendBtn:hover {
    border-color: #444;
    opacity: 0.9;
}
