


/* Messages */
.container {
    height: 350px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.msgWrapper {
    display: flex;
    width: 100%;
}

.msgWrapper.ai {
    justify-content: flex-start;
}

.msgWrapper.user {
    justify-content: flex-end;
}

.msgBubble {
    max-width: 75%;
    padding: 12px 16px;
    border-radius: 18px;
    font-size: 14px;
    line-height: 1.4;
    background-color: #666;
    color: white;
}

.user .msgBubble {
    border-bottom-right-radius: 4px;
}

.ai .msgBubble {
    border-bottom-left-radius: 4px;
}

.msgBubble.error {
    color: red; /* Light pink/red text */
}